<div class="container">
    <div class="box">

        <div class="box1">
            <p>0 - 9 blocos</p>

            <div class="grid1">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid1">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid1">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid1">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid1">
                <input type="checkbox">
                <input type="checkbox">
            </div>

        </div>
        <div class="box1">
            <p>10 - 19 blocos</p>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>

        </div>
    </div>
    <div class="box">
        <div class="box1">
            <p>20 - 29 blocos</p>

            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>

        </div>
        <div class="box1">
            <p>30 - 39 blocos</p>


            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>

        </div>
    </div>
    <div class="box">
        <div class="box1">
            <p>40 - 49 blocos</p>


            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>

        </div>
        <div class="box1">
            <p>50 - 59 blocos</p>


            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="grid2">
                <input type="checkbox">
                <input type="checkbox">
            </div>

        </div>
    </div>
    <div class="box1">
        <p>60 - 69 blocos</p>

        <div class="grid2">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div class="grid2">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div class="grid2">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div class="grid2">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div class="grid2">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div class="grid2">
            <input type="checkbox">
            <input type="checkbox">
        </div>

    </div>
</div>